p {
  font-size: 0.5rem;
}
.card-width {
  width: 200px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.card-role {
  width: 100px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
input.ng-valid.ng-touched {
  border: 1px solid green;
}

.avatar {
  padding: .50rem;
  background-color:#fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-height: 260px;
  max-width: 210px;
  margin: .25rem;
}

.description {
  padding: .25rem;
}
