<div class="container">
  <form class="example-form" [formGroup]="roomForm" (ngSubmit)="onFormSubmit(roomForm.value)">
    <h2>Введите название новой комнаты</h2>
    <mat-form-field class="example-full-width">
      <mat-label>Room Name</mat-label>
      <input matInput placeholder="Enter room name" formControlName="roomname"
             [errorStateMatcher]="matcher">
      <mat-error>
        <span *ngIf="!roomForm.get('roomname').valid && roomForm.get('roomname').touched">Название комнаты</span>
      </mat-error>
    </mat-form-field>
    <div class="button-row">
      <button class="btn" type="submit" [disabled]="!roomForm.valid" mat-mini-fab color="accent"><mat-icon>save</mat-icon></button>
    </div>
  </form>
</div>
