<button class="modal-action btn btn-danger" (click)="openDialog()">Создать
</button>
<div *ngIf="programs$ | async as programs; else empty">
  <div class="form-control">
    <input type="text" placeholder="Поиск по названию..." [(ngModel)]="programName" [ngModelOptions]="{standalone: true}">
  </div>
    <table class="highlight mb2">
      <thead>
      <tr>
        <th>№</th>
        <th>Название</th>
        <th>Категория</th>
        <th>Автор</th>
        <th>Цена</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let program of programs | adminProgSearch: programName; let i = index">
        <td>{{i+1}}</td>
        <td>{{program.name}}</td>
        <td>{{program.category}}</td>
        <td>{{program.instructorName}}</td>
        <td>{{program.cost}} руб.</td>
        <td>
          <button
                  matTooltip="Удалить программу"
                  matTooltipClass="tooltip-green"
                  class="btn btn-danger" (click)="deleteProgram(program.id)"><mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <ng-template #empty>
   <app-loader></app-loader>
  </ng-template>
