<button class="btn bg-dark" (click)="openDialog()">Образец договора с клиентом</button>
<h2>Условия и порядок предоставления услуг</h2>
<p>Настоящий публичный договор (далее именуемый &laquo;Договор&raquo;) устанавливает обязанности по оказанию услуг частным унитарным предприятием &laquo;Макариос&raquo; (Фитнес клуб&raquo;Атлетизм и грация&raquo;), именуемое далее ФИТНЕС-КЛУБ в лице директора Герловича Геннадия Леонидовича, действующего на основании Устава, с одной стороны, в отношении потребителя услуг (далее именуемого КЛИЕНТ), с другой стороны, а также устанавливает обязанности КЛИЕНТА, принявшего Договор в установленном Договором порядке.</p>

<h3>1. ПОРЯДОК ЗАКЛЮЧЕНИЯ ДОГОВОРА</h3>

<p>1.1. Договор, является предложением (публичной офертой), адресованным кругу лиц, желающим приобрести услуги ФИТНЕС-КЛУБА.</p>

<p>1.2. Условия Договора считаются принятыми КЛИЕНТОМ, если КЛИЕНТ купил абонемент (разовое занятие) в ФИТНЕС-КЛУБЕ.</p>

<p>1.3. Договор вступает в силу с момента получения ФИТНЕС-КЛУБОМ оплаты от КЛИЕНТА, выдачи КЛИЕНТУ абонемента (продление абонемента на следующий срок).</p>

<h3>2. ПРЕДМЕТ ДОГОВОРА</h3>

<p>2.1. КЛИЕНТ поручает, а ФИТНЕС-КЛУБ принимает на себя обязательство по оказанию КЛИЕНТУ физкультурно-оздоровительных услуг в соответствии с видом приобретенного абонемента (разового занятия). КЛИЕНТ обязуется оплатить абонемент в размере и порядке, предусмотренном настоящим договором (п.4), соблюдать Правила Клуба (Приложение № 1).</p>

<p>2.2. Под абонементом понимается именное право КЛИЕНТА на потребление услуг в соответствии с условиями настоящего договора.</p>

<h3>3. ПРАВА И ОБЯЗАННОСТИ СТОРОН</h3>

<p>3.1. КЛИЕНТ в течение срока действия абонемента имеет право:</p>

<p>3.1.1. Регулярно знакомиться с расписанием занятий, проводимых в ФИТНЕС-КЛУБЕ и размещенном на стенде, а также на сайте клуба по адресу: www.fitness-ag.by;</p>

<p>3.1.2. Посещать ФИТНЕС-КЛУБ в часы его работы в соответствии с видом абонемента (абонемент и разовая тренировка &quot;до 17:00&quot; - покинуть зал не позднее 17:00);</p>

<p>3.1.3. Потреблять физкультурно-оздоровительные услуги, перечень и количество которых определяется в соответствии с видом абонемента;</p>

<p>3.2. КЛИЕНТ обязан:</p>

<p>3.2.1. Соблюдать и не нарушать Условия посещения ФИТНЕС-КЛУБА (Приложение 1 к настоящему Договору);</p>

<p>3.2.2. Незамедлительно уведомлять Администрацию клуба о наличии медицинских противопоказаний, если услуги ФИТНЕС-КЛУБА могут повлечь причинение ущерба жизни или здоровью КЛИЕНТА, а равно о противопоказаниях, которые создают или могут создать угрозу жизни или здоровью иных клиентов и персонала КЛУБА;</p>

<p>3.2.3. Получить рекомендации у работников ФИТНЕС-КЛУБА по вопросам пользования инвентарем и оборудованием КЛУБА в порядке, определенном Правилами КЛУБА;</p>

<p>3.2.4. Своевременно оплатить физкультурно-оздоровительные услуги;</p>

<p>3.2.5. Бережно относиться к имуществу ФИТНЕС-КЛУБА, предотвращать поломки оборудования и незамедлительно сообщать о нарушениях правил посещения (нанесения ущерба имуществу, поломки оборудования) ФИТНЕС-КЛУБА дежурному администратору;</p>

<p>3.2.6. Оплатить штраф за утерю (порчу) имущества ФИТНЕС-КЛУБА в соответствии с действующими тарифами или в размере его стоимости, определенном Правилами КЛУБА;</p>

<p>3.2.7. В полном соответствии выполнять рекомендации тренера (инструктора) ФИТНЕС-КЛУБА по объемам нагрузки;</p>

<p>3.3. ФИТНЕС-КЛУБ имеет право:</p>

<p>3.3.1. Требовать врачебного осмотра (справку) при наличии явных признаков, указывающих на то, что состояние здоровья КЛИЕНТА может представлять угрозу его здоровью, а также здоровью иных клиентов либо персонала ФИТНЕС-КЛУБА, а в случае подтверждения этих признаков &ndash; временно прекратить в одностороннем порядке оказание услуг;</p>

<p>3.3.2. Отказать КЛИЕНТУ в доступе в Клуб (временно прекратить в одностороннем порядке оказание услуг) при наличии явных признаков того, что Клиент находится в состоянии алкогольного либо наркотического опьянения, либо пытается пронести на тренировочные территории любые виды оружия, взрывчатые либо ядовитые вещества, а равно в случае нарушения КЛИЕНТОМ своих обязательств, предусмотренных п. 3.2. настоящего договора;</p>

<p>3.3.3. Требовать от КЛИЕНТА прекращения действий, нарушающих Правила ФИТНЕС-КЛУБА, а в случае игнорирования замечаний работников Клуба &ndash; просить Клиента покинуть ФИТНЕС-КЛУБ;</p>

<p>3.4. ФИТНЕС-КЛУБ обязуется:</p>

<p>3.4.1. После полной оплаты КЛИЕНТОМ физкультурно-оздоровительных услуг, выдать КЛИЕНТУ абонемент;</p>

<p>3.4.2. Оказывать КЛИЕНТУ физкультурно-оздоровительные услуги в имеющихся спортивных залах ФИТНЕС-КЛУБА (возможное время занятий: с 7:00 до 22:30 согласно расписания Клуба);</p>

<h3>4. СТОИМОСТЬ ФИЗКУЛЬТУРНО-ОЗДОРОВИТЕЛЬНЫХ УСЛУГ И ПОРЯДОК РАСЧЕТОВ</h3>

<p>4.1. Стоимость абонемента (разового занятия) физкультурно-оздоровительных услуг, определяется в соответствии с прейскурантом, действующим на момент оплаты;</p>

<p>4.2. КЛИЕНТ оплачивает стоимость услуг путем внесения наличных денежных средств в кассу ФИТНЕС-КЛУБА или на расчетный счет УП &laquo;Макариос&raquo;;</p>

<p>4.3. За абонемент оплачивается сразу вся сумма;</p>

<p>4.4. В стоимость абонемента включена работа инструктора с КЛИЕНТОМ (с учетом равного права на внимание инструктора всех КЛИЕНТОВ);</p>

<p>4.5. В ФИТНЕС-КЛУБЕ предусмотрена возможность индивидуальной работы инструктора с КЛИЕНТОМ за дополнительную плату, по предварительной договоренности с инструктором;</p>

<p>4.6. Оплата льготных (до 18 лет) абонементов производится только при наличии подтверждающих документов (паспорта или свидетельства о рождении).</p>

<h3>5. ПРИОСТАНОВЛЕНИЕ И ДОСРОЧНОЕ РАСТОРЖЕНИЕ ДОГОВОРА</h3>

<p>5.1. Договор подлежит досрочному расторжению в одностороннем порядке по инициативе ФИТНЕС-КЛУБА в следующих случаях:</p>

<p>5.1.1. Нарушения КЛИЕНТОМ Правил ФИТНЕС-КЛУБА или условий настоящего Договора;</p>

<p>5.1.2. Нарушения КЛИЕНТОМ порядка оплаты абонемента;</p>

<p>5.1.3. Выявления у КЛИЕНТА документально подтвержденных противопоказаний, создающих угрозу его жизни, а также жизни или здоровью иных клиентов либо персонала ФИТНЕС-КЛУБА;</p>

<p>5.2. При досрочном расторжении ДОГОВОРА по инициативе ФИТНЕС-КЛУБА возврат денежных средств производится за вычетом неустойки в размере 15 % от подлежащей возврату стоимости абонемента (с учетом использованных занятий);</p>

<p>5.3. Возврат КЛИЕНТУ стоимости абонемента производится в течение 5 рабочих дней после досрочного расторжения договора путем выплаты денежных средств из кассы ФИТНЕС-КЛУБА либо перечисления в безналичном порядке на расчетный счет КЛИЕНТА.</p>

<p>5.4. В случае пропуска занятий из-за болезни (при предоставлении<strong>больничного листка или справки</strong>соответствующего медицинского учреждения) оплата взимается пропорционально времени посещения занятий. При пропуске занятий<strong>без уважительных причин</strong>, а также при выбытии занимающихся из группы внесенная ими<strong>плата не возвращается</strong>.</p>

<h3>6. СРОК ДЕЙСТВИЯ ДОГОВОРА</h3>

<p>6.1. Договор считается пролонгированным в случае приобретения КЛИЕНТОМ абонемента на следующий срок (оплаты за разовое занятие).</p>

<h3>7. ОСОБЫЕ УСЛОВИЯ ДОГОВОРА</h3>

<p>7.1. Покупая абонемент (разовое занятие) КЛИЕНТ подтверждает, что не имеет медицинских противопоказаний для оказания ему услуг ФИТНЕС-КЛУБОМ, которые могут повлечь причинение ущерба жизни или здоровью КЛИЕНТА, а равно жизни или здоровью иных клиентов и персонала КЛУБА;</p>

<p>7.2. ФИТНЕС-КЛУБ оставляет за собой право временно приостанавливать работу по техническим или иным причинам. В этом случае, срок действия абонемента продляется на время вынужденного простоя в работе ФИТНЕС-КЛУБА;</p>

<p>7.3. В случае нанесения КЛИЕНТОМ ущерба ФИТНЕС-КЛУБУ, ФИТНЕС-КЛУБ вправе приостановить исполнение своих обязательств перед КЛИЕНТОМ по настоящему договору и зачесть стоимость не оказанных физкультурно-оздоровительных услуг в погашение причиненного ущерба. В том случае если размер ущерба превышает стоимость не оказанных физкультурно-оздоровительных услуг, КЛИЕНТ обязан возместить оставшуюся сумму ущерба согласно предоставленным ФИТНЕС-КЛУБОМ расчетов;</p>

<p>7.4. КЛИЕНТ полностью несет ответственность за состояние своего здоровья. Должностные лица, администрация, сотрудники и инструкторы ФИТНЕС-КЛУБА не несут ответственность за вред, связанный с любым ухудшением здоровья кого-либо из КЛИЕНТОВ и травмами, явившимися результатом или полученных в результате любых самостоятельных занятий;</p>

<p>7.5. Принимая условия Договора КЛИЕНТ соглашается с тем, что он не вправе требовать от ФИТНЕС-КЛУБА какой-либо компенсации морального, материального вреда или вреда, причиненного его здоровью как в течение срока действия настоящего Договора, так и по истечении срока его действия, за исключением случаев, прямо предусмотренных действующим законодательством;</p>

<p>7.6. За технические неудобства, вызванные проведением сезонных, профилактических и аварийных работ службами коммунального хозяйства г. Минска, ФИТНЕС-КЛУБ ответственности не несет;</p>

<p>7.7. Информация считается доведенной до сведения КЛИЕНТА, если она размещена на Информационном стенде ФИТНЕС-КЛУБА;</p>

<p>7.8. Клуб имеет право отказать в продлении абонемента (покупки разового занятия) без указания причин таких действий;</p>

<p>7.9. Клуб оставляет за собой право на одностороннее изменение настоящего Договора и списка правил, изложенных в Приложении 1 к данному Договору. В случае их изменения новая редакция Договора и Правил будет размещена на Информационном стенде и сайте ФИТНЕС-КЛУБА;</p>

<p>7.10. Все отношения, не урегулированные сторонами в настоящем договоре, регламентируются действующим законодательством Республики Беларусь.</p>

<h3>8. ФОРС-МАЖОР</h3>

<p>8.1. Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему Договору, если это неисполнение явилось следствием обстоятельств непреодолимой силы, возникших после заключения настоящего Договора в результате обстоятельств чрезвычайного характера, таких как: наводнение, пожар, землетрясение и другие природные явления, а также война, военные действия, блокада, запретительные действия властей и акты государственных органов, разрушение коммуникаций и энергоснабжения, взрывы, возникшие во время действия настоящего договора, которые стороны не могли предвидеть или предотвратить;</p>

<p>8.2. Все споры или разногласия, возникающие между сторонами по настоящему Договору или в связи с ним, разрешаются путем переговоров.</p>

<h3>9. АДРЕСА, БАНКОВСКИЕ РЕКВИЗИТЫ</h3>

<p>Реквизиты фитнес-клуба: УП &laquo;Макариос&raquo; (Фитнес-клуб &laquo;Атлетизм и грация&raquo;)</p>

<p>Юридический адрес: г. Минск, ул. Рафиева 55, пом. 20</p>

<p>Адрес для корреспонденции: 220117, а/я 304</p>

<p>Расчетный счет: BY82BLNB30120000081106000933 в ОАО &laquo;БНБ-Банк&raquo; г. Минск,</p>

<p>БИК: BLNBBY2X</p>

<p>Адрес банка: 220012, г. Минск, пр. Независимости, 87а</p>

<p>УНП 100759902</p>

<p>Тел. (017) 356-87-84</p>

<p>e-mail: club@fitness-ag.by</p>

<h3>Выдержки из Приказа Министерства спорта и туризма Республики Беларусь от 30 июня 1997г. № 832 &quot;Об организации и предоставлении платных физкультурно-оздоровительных услуг средствами физической культуры и спорта&quot;.</h3>

<p>2.3. Стоимость видов платных услуг средствами физической культуры и спорта (прейскурант цен) разрабатывается организациями и спортивными сооружениями, предоставляющими услуги. В расчет стоимости платных занятий в физкультурно-оздоровительных группах и группах спортивной направленности включаются затраты на оплату специалистов, проводящих занятия, аренду мест занятий с учетом количества учебных групп и числа занимающихся, количества занятий в неделю и на планируемый период.</p>

<p>4.4. Плата за занятия в группах, клубах вносится занимающимися ежемесячно или ежеквартально, по решению администрации могут быть организованы и разовые занятия с соответствующей оплатой.</p>

<p>В случае пропуска занятий из-за болезни (при предоставлении больничного листка или справки соответствующего медицинского учреждения) оплата взимается пропорционально времени посещения занятий. При пропуске занятий без уважительных причин, а также при выбытии занимающихся из группы внесенная ими плата не возвращается.</p>

<p>5.2. &laquo;Занимающиеся обязаны соблюдать установленный порядок, бережно относится к имуществу и спортивному инвентарю &hellip;&raquo;.</p>

<h3>Приложение к публичному договору №1</h3>

<h4>Условия функционирования групповых занятий (аэробика, шейпинг и др.).</h4>

<p>1. Оплачивается единовременно абонемент на<strong>12</strong>,<strong>8</strong>либо<strong>4</strong>занятия;</p>

<p>2. При покупке абонемента на<strong>12</strong>занятий (3 раза в неделю) вы получаете скидку<strong>15%</strong>, на<strong>8</strong>занятий (2 раза в неделю) -<strong>7.5%</strong>, абонемент на<strong>4</strong>занятия(1 раз в неделю) оплачивается по полной стоимости;</p>

<p>3. Одноразовые занятия оплачиваются с надбавкой -<strong>10%</strong>;</p>

<p>4. Пропущенные занятия в текущем месяце отрабатываются в любой группе текущего месяца при наличии места с доплатой разницы в стоимости ;</p>

<p>5. Опоздавший на занятие теряет право на попадание в группу и допускается к занятию только при наличии места. Занявший свободное место из группы не выводится;</p>

<p>6. Неиспользованные занятия<strong>(сумма)</strong>переносятся на следующий месяц:</p>

<p>- при наличии б/листа, справки и др. документов, подтверждающих пропуски занятий и при своевременном предупреждении администрации о пропуске.</p>


