<!--<ul class="sidenav sidenav-fixed a-sidenav">-->
<!--  <li-->
<!--    class="bold"-->
<!--    *ngFor="let link of links"-->
<!--    routerLinkActive="active"-->
<!--  >-->
<!--    <a [routerLink]="[link.url]" class="waves-effect waves-orange">-->
<!--      {{link.name}}-->
<!--    </a>-->
<!--  </li>-->
<!--</ul>-->
<div>
<div *ngIf="categories$ | async as categories; else empty">
  <div
    *ngIf="categories.length !==0"
    >
  </div>
</div>
  <app-program-order></app-program-order>
<ng-template #empty>
  <div class="center">Пока категорий нет...</div>
</ng-template>
</div>
